name: Dependabot auto-merge

on: pull_request_target

permissions:
    contents: write
    pull-requests: write

jobs:
    dependabot:
        runs-on: ubuntu-latest
        if: github.event_name == 'pull_request_target' && (github.event.pull_request.user.login == 'dependabot[bot]' || github.event.pull_request.user.login == 'anyulled')
        steps:
            - name: Dependabot metadata
              id: metadata
              if: github.event.pull_request.user.login == 'dependabot[bot]'
              uses: dependabot/fetch-metadata@v2
              with:
                  github-token: "${{ secrets.GITHUB_TOKEN }}"

            - name: Enable auto-merge for Dependabot PRs
              run: gh pr merge --auto --squash "$PR_URL"
              env:
                  PR_URL: ${{github.event.pull_request.html_url}}
                  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
